body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-container {
    margin-top: 20px;
}

#task-input {
    padding: 8px;
    width: 60%;
}

button {
    padding: 8px;
    cursor: pointer;
}
#p{
    color:green;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 8px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
}

.delete-btn i {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left: 10px;
}
